*{
    padding: 0;margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
header{
    height: 150px;
    width: 100%;
    background-color: #001e3c;
}
.navbar{
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo img{
    width: 150px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}

.icons img{
    width: 30px;
    height: 30px;
    margin-right: 30px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.6s ease-in;
}
.icons img:hover{
    background-color: blue;
    padding: 2px 1px;

}

.top-bottom{
    width: 100%;
    height: 60px;
    background-color: #fff;
}
.nav-links{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 3%;
}
.nav-links li{
    list-style: none;
    /* padding: 20px 15px;
    transition: all 0.5s ease-in; */
}

.nav-links li a{
    text-decoration: none;
    color: #000;
    display: inline-block;
    font-size: 15px;
    padding: 18px 10px;
    transition: all 0.5s ease-in;
}
.nav-links li a:hover{
    color: blue;
    text-decoration: underline;
    background-color: whitesmoke;
}
.hero{
    width: 100%;
    height: 65vh;

    background-image: url(images/download.jpeg);
    background-size: cover;
    opacity: 3;
    
}
.hero-text{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-text{
    width: 30%;
    height: 100%;
}
.left-text h1{
    font-size: 7rem;
    color: #000;
    line-height: 100px;
    margin-top: 30px;
}
.center-text h1{
    font-size: 4rem;
    text-transform: uppercase;
}
.btn{
    width: 330px;

    background-color: aqua;
    padding: 15px 35px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
}
.btn1{
    background-color: #001e3c;
    color: #ee23ff;
    transition: 1s ease;
}
.btn1:hover{
    background-color: #04434e;
    color: #fff;
}
.btn2{
    background-color: #fff;
    transition: 0.9s ease;
}
.btn2:hover{
    background-color: #001e3c;
    color: #fff;
}
.right-pic{
    width: 30%;
    height: 100%;
}
.right-pic img{
    width: 100%;
    height: 100%;
}

.courses{
    width: 100%;
    height: 30vh;
    background-color: whitesmoke;
}
.find-courses{
    width: 60%;
    height: 100%;
    padding: 20px 0;
    align-items: center;
    
    margin: auto;
}
.find-courses h1{
    text-align: center;
    font-size: 40px;
    color: #000000b2;
    font-weight: 400;
    text-transform: uppercase;
    
}
.search{
    margin-top: 20px;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.search input{
    width: 100%;
    height: 100%;
    padding: 20px 30px;
    float: left;
    font-size: 20px;
    
    border: 2px solid black;
    outline: none;
}
.search select{
    width: 25%;
    height: 70px;
    margin-left: 20px;
    border: 2px solid black;
    text-align: center;
}
.search-btn{
    font-size: 20px;
    color: #fff;
    background-color: #04434e;
    padding: 20px 70px;
    margin-left: 10px;
    border-radius: 8px;
    text-align: center;

}

.banner{
    width: 100%;
    height: 90vh;
    background-color: aliceblue;
    padding: 5%;
}
.banner-img{
    width: 100%;
    height: 100%;
    background-image: url(images/birmigham-at-night-primary--132920908373318756.jpg);
    background-size: cover;
}
.info-banner{
    width: 40%;
    height: 450px;
    padding: 30px;
    background-color:#001e3c;
    position: relative;
    top: 30px;
    left: 150px;
    text-align: center;
}
.info-banner h1{
    font-size: 3rem;
    color: #fff;
    line-height: 60px;
    font-weight: 400;
    padding: 10px 0;
    border-bottom: 3px solid purple;
}
.info-banner p{
    color: #fff;
    margin: 20px 0;
}
.info-banner button{
    padding: 20px 40px;
    background-color: purple;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: white;
    position: absolute;
    left: 20px;
}
.youtube-link{
    width: 100%;
    height: 35vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
.youtube-tag{
    width: 50%;
    height: 40vh;
    background-image: linear-gradient(to right,red, green,blue);
    cursor: pointer;
    margin-top: 10%;
    margin-bottom: 3%;
    position: relative;
    
}
.youtube-tag h1{
    color: #fff;
    font-size: 4rem;
    padding: 100px 100px 0 100px;
}
.youtube-tag span{
    color: #ee23ff;
    font-size: 4rem;
    
}
.youtube-tag p{
    color: #fff;
    font-size: 2rem;
    margin-left: 100px;
 
}
.youtube-tag i{
    color: red;
    padding: 20px 30px;
    position: absolute;
    top: 140px;
    left: 150px;
    
}
.taginfo{
    width: 100%;
    height: 30vh;
    background-color: whitesmoke;
    margin-top: 5%;
}
.tag-sub{
    width: 60%;
    height: 80%;
    margin: auto;
}
.taginfo h1{
    color: #001e3c;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 500;
}
.taginfo span{
    color: #ee23ff;
    font-size: 2.5rem;
}
.taginfo p{
    color: #000000da;
}
.apply-box{
    width: 100%;
    height: 80vh;
    background-color: aliceblue;
}
.apply-banner{
    width: 70%;
    height: 100%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.apply-box h1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 30px 10px;
   
}
.apply-info{
    width: 30%;
    height: 100%;
    
}
.apply-info img{
    width: 100%;
    height: 25%;
}
.apply-info h2{
    font-size: 1.3rem;
    font-weight: 500;
    color: #000000cc;
    padding: 20px 0;
}
.apply-info p{
    font-size: 1rem;
    color: #000000bf;
}
.btn1{
    margin-top: 10px;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 8px;
    font-size: 0.8rem;
    border: 1px solid blue;
    color: black;
    font-weight: 700;
}

.graduate-post{
    width: 100%;
    height: 60vh;
    margin-top: 6%;
    background-color: whitesmoke;

}
.banner1{
    width: 60%;
    height: 90%;
    display: flex;
    align-items: center;
    padding: 30px 0;
    margin: auto;
}
.left-img{
    width: 50%;
    height: 100%;
}
.left-img img{
    width: 100%;
    height: 100%;
}
.right-text{
    width: 50%;
    height: 100%;
    background-color:#333;
    color: white;
    text-align: center;
    position: relative;
    padding: 0 20px;
}
.right-text h1{
    font-size: 2rem;
    padding: 15px 10px;
}
.book-now{
    padding: 10px 30px;
    background-color: rgb(0, 112, 153);
    color: white;
    font-size: 1rem;
    margin-top: 30px;
    position: absolute;
    left: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in;
}
.book-now:hover{
    background-color: #04434e;
}
.story{
    width: 100%;
    height: 30vh;
    background-color:whitesmoke;
}
.story-content{
    width: 60%;
    height: 100%;
    margin: auto;
    text-align: center;
}
.story h1{
    font-size: 2.5rem;
    font-weight: 500;
    color: #000000be;
    font-family: sans-serif;
}
.story p{
    font-size: 0.9rem;
    font-weight: 400;
    padding: 1rem 0;
    line-height: 1.1;
    color: #000000c1;
}
.story-btn{
    padding: 15px 40px;
    background-color: rgb(0, 112, 153);
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.6s ease;
    color: white;
}
.story-btn:hover{
    background-color: #04434e;
}

.pannel-headline{
    width: 100%;
    height: 70vh;
    padding: 20px 10px;
}
.pannel-headline-content{
    width: 80%;
    height: 90%;
    background-image: linear-gradient(0deg, rgb(0, 1, 50) 0%, rgb(35, 46, 99) 50%, rgb(0, 1, 50) 100%);
    padding: 60px 100px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.left-pannel{
    width: 70%;
    height: 80%;
    margin: auto;
}
.left-pannel img{
    width: 50%;
    height: 100%;
    margin-left: 25%;
}
.right-pannel{
    width: 80%;
    height: 100%;
    margin-right: 10%;

}.right-pannel h1{
    color:rgba(255, 217, 0, 0.634);
    padding: 20px 0;
    font-size: 3rem;
}
.right-pannel p{
    color: #fff;
}
.read{
    padding: 20px 30px;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 1.1rem;
    color: white;
    background-color: transparent;
    transition: all 0.7s ease;
}
.read:hover{
    background-color: #04434e;
    border: none;
}